<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../EJS/head'); %>
</head>
<body class="container">

<header>
  <%- include('../EJS/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1>List of Countries</h1>
    <%- html %>
  </div>
</main>

<footer>
  <%- include('../EJS/footer'); %>
</footer>

</body>
</html>